/* #region USER PROFILE STYLES */
.user-profile {
  max-width: 400px;
}

.profile-image {
  max-height: 200px;
}

.profile-header {
  font-size: 1.3rem;
}

.no-user-warning {
  font-style: italic;
}
/* #endregion */

/* #region SPINNER STYLES */
.loading-text {
  font-weight: bold;
  font-size: 1.1em;
  margin-left: 0.5em;
  color: rgb(18, 94, 235);
}
/* #endregion */
